@using WebFood.Models.Entities
@using System.Security.Claims;
@model Restaurant

<div class="mt-3 container-xl">
    <div class="row">
        @*Menu*@
        <div class="col-2">
            <div class="sticky-top pt-3">
                <div class="menu d-flex flex-column align-items-start p-3 pt-0">
                    <a class="text-decoration-none" asp-controller="Home" asp-action="Index">
                        <i class="bi bi-arrow-left"></i>
                        <span class="">Назад</span>
                    </a>
                    <h2>Меню</h2>
                    @foreach (var item in ViewBag.Menu)
                    {
                        <a href="#@item.Id" class="mt-3 btn btn-light btn-block">@item.Name</a>
                    }
 
                </div>
            </div>
        </div>
        @*Main*@
        <div class="col-7">
            @*Restaurant Info*@
            <div class="d-flex flex-column justify-content-center">
                <img class="img-fluid" src="@Model.Imageurl" />
                <h1 class="mt-2 text-center">@Model.Name</h1>
                @if (this.User.IsInRole("Administrator") ||
                (this.User.IsInRole("Manager")
                && this.User.FindFirstValue(ClaimTypes.NameIdentifier) == Model.ManagerId.ToString()))
                {
                    <a asp-controller="Restaurant" asp-action="Edit"
                       asp-route-restaurantId="@Model.Id">Редактировать информацию о ресторане</a>
                    <a asp-controller="Restaurant" asp-action="ChangeImage"
                        asp-route-restaurantId="@Model.Id">Изменить обложку</a>
                    <hr />
                    <a asp-controller="Meal" asp-action="AddMeal"
                    asp-route-restaurantId="@Model.Id">Добавить блюдо</a>
                    <hr />
                    <a asp-controller="CategoryOfMeal" asp-action="AddCategoryOfMeal"
                       asp-route-restaurantId="@Model.Id">Добавить категорию</a>
                    <a asp-controller="CategoryOfMeal" asp-action="EditCategoryOfMeal"
                       asp-route-restaurantId="@Model.Id">Изменить категорию</a>
                    <a class="text-danger" asp-controller="CategoryOfMeal" asp-action="DeleteCategoryOfMeal"
                       asp-route-restaurantId="@Model.Id">Удалить категорию</a>
                }
            </div>
            @*Meals*@
            @foreach (var item in ViewBag.Menu)
            {
                <h3 class="mt-5" id="@item.Id">@item.Name</h3>
                <div class="mt-3 row row-cols-4 g-2">
                    @{
                        IEnumerable<Meal> meals = ((IEnumerable<Meal>)ViewBag.Meals).Where(m => m.CategoryId == item.Id);

                    }
                    @foreach (var meal in meals)
                    {
                        <div class="card">
                            <img src="@meal.ImageUrl" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h4 class="card-title">
                                    @meal.Name
                                </h4>
                                @if (meal.Description != null)
                                {
                                    <div>@meal.Description</div>
                                }
                                @if (meal.Weight != 0 || meal.Calories != 0)
                                {
                                    <div class="d-flex justify-content-between">
                                        @if (meal.Weight != 0)
                                        {
                                            <span>@meal.Weight г</span>
                                        }
                                        @if (meal.Calories != 0)
                                        {
                                            <span>@meal.Calories ккал</span>
                                        }
                                    </div>
                                }
                                <h5>
                                    @{
                                        string price = String.Format("{0:C0}",meal.Price);
                                    }
                                    @price
                                </h5>
                                <a asp-action="AddToCart" asp-controller="ShoppingCart" asp-route-id="@meal.Id"
                                    class="btn btn-primary">Добавить</a>
                                @if (this.User.IsInRole("Administrator") ||
                               (this.User.IsInRole("Manager")
                               && this.User.FindFirstValue(ClaimTypes.NameIdentifier) == Model.ManagerId.ToString()))
                                {
                                    <div class="d-flex flex-column">
                                        <a class="mt-2" asp-controller="Meal" asp-action="EditMeal" asp-route-mealId="@meal.Id">Изменить</a>
                                        <a class="mt-2" asp-controller="Meal" asp-action="ChangeMealImg" asp-route-mealId="@meal.Id">Изменить изображение</a>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                </div>
            }

        </div>
        @*Cart*@
        <div class="col-3">
            <div class="sticky-top pt-3">
                <div class="menu d-flex flex-column align-items-start p-3 pt-0">
                    <h2>Корзина</h2>
                    <a asp-controller="ShoppingCart" asp-action="EmptyCart">Очистить корзину</a>
                        
                    @foreach (var item in ViewBag.Cart.CartItems)
                    {
                        <div class="py-4" id="row-@item.RecordId">
                            <div class="d-flex align-items-center">
                                <div>
                                    <img width=60 class="img-fluid" src="@item.Meal.ImageUrl" />
                                </div>
                                <h5 class="ms-2">
                                    @item.Meal.Name
                                </h5>
                                <h5 class="ms-2">
                                    @item.Meal.Price.ToString("0,0") &#8381;
                                </h5>
                            </div>
                            <div class="mt-2  d-flex">
                                <div class="col-6">
                                <partial name="_plusMinusInput" , model="@item"></partial>

                                </div>
                            </div>

                        </div>
                    }

                    <a asp-action="Cart" asp-controller="ShoppingCart"
                    class="mt-3 btn btn-primary">
                        Оплатить <span id="cart-total">@ViewBag.Cart.CartTotal.ToString("0,0")</span> &#8381
                    </a>

                    @section Scripts{

                        <partial name="_plusMinusInputScripts" />
                    }

                </div>
            </div>
        </div>
    </div>

</div>
